[data-md-color-scheme="youtube"] {
  --md-primary-fg-color: #26667f;
  --md-primary-fg-color--light: #ecb7b7;
  --md-primary-fg-color--dark: #90030c;
}

.center-mermaid {
  display: flex;
  justify-content: center;
}

/* Increase font size inside all callouts (admonitions) */
.md-typeset .admonition,
.md-typeset details {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

/* make the title of the callout larger */
.md-typeset .admonition-title {
  font-size: 0.9rem;
  font-weight: 400;
}

/* Larger text only in warnings */
.md-typeset .admonition.warning {
  font-size: 0.8rem;
}
